body {
    font-family: Arial, sans-serif;
    direction: rtl;
    font-size: 120%;
    margin: 10px;
}

abbr {
    background-color: yellow;
    padding: 1px;
}

ul {
    float: right;
    width: 55%;
}

#left {
    float: left;
    width: 42%;
}

p {
    border: 3px solid #e0f0f0; 
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

#contact {
    direction: ltr;
}

.item {
    background-color: #e0f0f0;
    margin-bottom: 10px;
    padding: 5px 12px;
    font-size: 22px;
    width: 100%;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.item .title {
    margin-bottom: 2px;
}

.item .description {
    font-size: 16px;
    margin-bottom: 3px;
}

.item .datesource { 
    font-size: 12px;
}
